




/*style project page*/

#projects{
 
    margin-top: 20px;
    margin-bottom: 20px;
}
#projects .submenu ul{
	display: inline;
}
.submenu {
	padding-top: 30px;
	
}
.submenu li{
	list-style: none;
    padding: 5px;
    float: left;
    width: auto;
    text-align: center;
 	background: #CACFD2;
   	border-right: 1px solid #000;
}
.onproject{
	background: blue !important;
	list-style: none !important;
    padding: 10px !important;
    /*border-right: 1px solid #000;*/
}
.onproject a{
	color: white !important;
}

}
.submenu li a{
	color:#000 !important;
	font-weight: 600 !important;
	font-size: 12px !important;
}
.submenu li a{
	font-family: Roboto;
	display: block;
	margin-left: 3px;
    font-weight: bold;
    line-height: 2em;
    color:#212F3C;
    font-size: 12px;
}
.submenu li:hover{
	background-color: #212F3D;
	
}
.submenu li a:hover{
	color: #ECF0F1;
}
.contentItem{
	margin-top: 80px;
	margin-bottom: 50px;
}
.container_image_link{
	padding-top: 25px;
	position: relative;
    width: 100%;
}

.coverimage {
    position: relative;
    width: 50%;
}

.image3 {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.center {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.coverimage:hover .image3 {
  opacity: 0.1;
  background: black;
}

.coverimage:hover .center {
  opacity: 0.1;
}

.hover{
	position: relative;
    /*width: 50%;*/
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.hover:hover .image {
  opacity: 0.3;
}

.hover:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 12px;
  padding: 16px 32px;
}



/*end style project page*/

/*style project detail data*/
.project_metadata{
	margin-top: 30px;
	background-color: #eeeeee;
    padding: 16px 22px;
    color: #666666;
    margin-bottom: 30px;
    border-radius: 2px;

}
.project_metadata li{
	margin-bottom: 5px;

}	
.list_unstyled{
	padding-left: 0;
    list-style: none;
}

.project_metairon{
	display: inline-block;
    min-width: 20px;
    margin-right: 4px;
    font-size: 120%;
    text-align: center;
}
.content-p{
	padding-bottom: 15px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.hentry__content{
	font-size: 16px;
}
.content-p p{
	padding-top: 15px;
	padding-bottom: 15px;
	font-family: Roboto;
	font-weight: 400;
	font-style: normal; 
}
/*end style project detail data*/

#service-titles{
	margin: 0;

} 
#service{
	margin:0;
	padding:50px 0;
}

.servicetitle{
	padding-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    color: #222222;
}
.display-content .specialtytitle{
	padding-bottom: 5px;
	padding-top: 25px;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    color: #222222;
}
.link-page-block{
	padding-top: 20px;
	padding-bottom: 10px;
	display: inline-block;
}
.link-page-box{
	flex-basis: calc(100% - 120px);
	text-decoration: none;
	display: inline;
}
.link-page-box a img{
	height: 100px;
	width: 100px;
}
.link-page-box p{
	font-size: 10px;
}

.box-title{
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
	padding-bottom: 15px;
}

.right-grid{
	padding-right: 0;
    float: right;
    width: 25%;
}
.right-grid h4{
	text-transform: uppercase;
    font-size: 1.4em;
    /*color: #212121;   */
    font-weight: 600;
}
.left-grid{
	padding:0;
}
.style-ul{

    list-style-type: disc;
   	text-align: left;
    margin-left: 50px;
    padding-bottom: 0.5em;

}
.display-fix{
	padding: 50px 0;
}
.recent-blog{
	margin-bottom: : 4em;
	margin-top: 1em;
}
.blog-menu{
	font-family: Roboto;
    font-weight: 500;
}
.contectus-content{
	padding-left: 20px;
}
.contectus-content p{
	padding-top: 10px;
}

#service-menu {
	font-family: Roboto;
	display: inline-block;
	padding: 15px 0;
}
 
}
#service-menu .menu-list{
	float: left;
}

.menu-li{
	 float: left;
     padding-top: 15px; 
     padding-left: 30px; 
}
.menu-list{
	text-align: left;
	border: 1px solid #999999;
	width: 100%;
	padding-right: 30px;
	floats: left;
	display: block;
    background: #eeeeee;
    color: #999999;
}
.menu-list:hover{
	background: black;
	

}
.onmenu{
	text-align: left;
	border: 1px solid #999999;
	width: 100%;
	padding-right: 30px;
	floats: left;
	display: block;
    background: #7e5b25;
    color: #999999;
} 
.onmenu a{
	color: white;
}


#mechanical{
 	padding: 80px 0px;
}
.mechanical-title {
	font-family: Roboto;
}
.electrical-title{
	padding-top: 25px;
} 
.image-article img{
	style="width: 300px; 
	height: 200px;
	padding-bottom: 30px;
	float: left;
}
.plumbing-image-article{
	height: 250px;
	width: 100%;
}
.space-top-20{
	margin: 0 0 10.5px;
}
.display-content{
	font-family: Roboto;
}
.display-content p{
	margin: 0 0 10.5px;
	padding-top: 10px;
}
.display-p p{
	font-family: Roboto;
	padding-left: 20px;
}
.display-p h4{
	padding-left: 20px;
	font-weight: 500;
	padding-top: 30px;
	padding-bottom: 10px;
}
.style{
	padding-top: 70px;
	color: white;
	font-weight: 600;
}

}
.collaboration-content p{
	padding-top: 20px;
}
.style-title{
	position: relative;
	font-weight: 600;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.style-title::after{
	position: absolute;
    content: "";
    background-color: blue;
    height: 3px;
    width: 30px;
    bottom: -1px;
    left: 0;
}
.paragraph{
	padding:0;
}
.articletitle{
	padding: 20px 0;
	font-size: 25px;
	font-weight: 600;
	font-family: 'Roboto Slab', serif;
	color: #222;
}
.main-title{
	background-color: #8B9057 ;
    text-align: left;
    background-size: cover;
    height: 200px;

}
.main-title h2{
	padding-top: 80px;
	color: white;
	text-transform: uppercase;
}


 .border{
    border-bottom: 2px solid #906157;
}
 .undertitle-line{
 	border-bottom: 2px solid black; 
 }
 #ourcontent {
 	padding: 80px 0px;
    
}
#ourcontent .widget-title {
    font-size: 30px;
    margin-top: 0;
}
#ourcontent .textwidget {
    font-family: Roboto;
    padding-top: 25px;
    padding-bottom: 1em;
}
#ourcontent .text-right-blog{

    font-family: Roboto;
    padding-top: 25px;
    padding-bottom: 1em;

}
.text-right-blog p{
	padding-top: 20px;
	padding-left: 20px;
}
.widget-title{

	padding-bottom: 20px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    color: #222222;
    
}	
.textwidget h5 {
	padding-bottom: 1em;
	padding-top: 1em;
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    text-transform: none;
    letter-spacing: .1px;
}
.textwidget h3 img{
	width: 100%;
	height: 280px;
}
.textwidget p{
	font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;

}
.textwidget p img{
	width: 100%;
	height: 280px;
}
.textwidget p i{
	padding-top: 25px;
}

body .textwidget {
	color: #606060;
}


#master-container{
	margin-bottom: 0 !important;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
#breadcrumbs-four{
	padding-top: 10px;
  overflow: hidden;
  width: 100%;
}

#breadcrumbs-four li{
  float: left;
  margin: 0 .5em 0 0.8em;
}

#breadcrumbs-four a{
	text-transform: uppercase;
	font-size: 12px;
  background: #ddd;
  padding: .7em 0.8em;
  float: left;
  text-decoration: none;
  color: #444;
  text-shadow: 0 1px 0 rgba(255,255,255,.5); 
  position: relative;
}

#breadcrumbs-four a:hover{
  background: #efc9ab;
}

#breadcrumbs-four a::before,
#breadcrumbs-four a::after{
  content:'';
  position:absolute;
  top: 0;
  bottom: 0;
  width: 1em;
  background: #ddd;
  transform: skew(-10deg);  
}

#breadcrumbs-four a::before{

  left: -.5em;
  border-radius: 5px 0 0 5px;
}

#breadcrumbs-four a:hover::before{
  background: #efc9ab;
}

#breadcrumbs-four a::after{
  right: -.5em;   
  border-radius: 0 5px 5px 0;
}

#breadcrumbs-four a:hover::after{
  background: #efc9ab;
}

#breadcrumbs-four .current{
  font-weight: bold;
  background: #002fa4;
  color: #fff;
}
#breadcrumbs-four .current:hover{
  font-weight: bold;
  background: #efc9ab;

}

#breadcrumbs-four .current::after,
#breadcrumbs-four .current::before{
  content: normal;
  content:'';
  position:absolute;
  top: 0;
  bottom: 0;
  width: 1em;
  background: #002fa4;
  transform: skew(-10deg); 
}